ul{
    list-style-type: none;
    padding-top: 10px;
    padding-left: 0;
    padding-bottom: 20px;
}

textArea{
    height: 150px;
    border: none;
    outline: none;
    width: 80%;
    resize: vertical;
    line-height: 20px;
}

.container {
    width: 80%;
    max-width: 700px;
    min-width: 200px;
    margin: auto;
    margin-top: 0px;
}

.recipe-list {
    width: inherit;
    min-height: 100px;
    background: #F5C851;
}

.recipe-li {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 20px;   
    padding-left: 10px;
    &.expanded-li{
        margin-top: 0px;
        padding-top: 3px;
        background: #F9EF61;
        color: #331219;
    }
}

.title-bar{
    width: 80%;
    font-size: 20px;
    background: #DD950F;
    line-height: 30px;
    padding-left: 10px;
    padding-bottom: 0px;
    margin: auto;
    margin-top: 10px;
    color: #331219;
     &:hover{
        background: #de7a52
    }
    &:active{
        background: #b22222;
    }
}

input {
    &.title-bar{
        display: block;
        background: #DD950F;
        border: none;
        outline: 2px solid #b22222;
        outline-offset: 0cm;
        &:hover{
            background: #DD950F;
        }
        &:focus{
            outline: 3px solid #b22222;
        }
    }
    
}

pre{
    line-height: 20px;
    white-space: pre-wrap !important;
    word-break: break-all;
    width: 80%;
}

.button-theme {
    margin: 5px;
    border-radius: 10%;
    background: lightgreen;
}